@font-face {
    font-family: "Cubic";
    src: url("../src/俐方體.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "Cubic", sans-serif;
}
html {
    width: 100%;
    height: 100%;
    user-select: none;
    touch-action: manipulation;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: rgb(0, 0, 50); */
    background-color: black;
    font-family: "Cubic", sans-serif;
}
.container {
    display: flex;
}
#main-container {
    width: 1080px;
    /* width: 515px; */
    margin: auto;
    position: relative;
    justify-content: center;
    overflow: hidden;
}
#bg, #result {
    width: 100%;
}
#username {
    position: absolute;
    /* background-color: black; */
    width: 40%;
    color: rgb(92, 53, 3);
    font-weight: bold;
    text-align: center;
    top: 2.5%;
    z-index: 100;
}
#mask, #cutscene {
    position: absolute;
    width: 100%;
    height: 100%;
}
#cutscene {
    z-index: 1000;
}
#cutscene-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    animation-timing-function: ease;
}
.fadeInToBlack {
    animation: fadeInToBlack 3s forwards;
}
.fadeOutFromBlack {
    animation: fadeOutFromBlack 1.5s forwards;
}
@keyframes fadeInToBlack {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOutFromBlack {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#bubble {
    position: absolute;
    width: 100%;
    animation: bubbleFloat 3s forwards;
    animation-timing-function: ease-in;
    z-index: 100;
}
@keyframes bubbleFloat {
    0% {
        transform: translateY(162%);
    }
    100% {
        transform: translateY(-100%);
    }
}
#text {
    position: absolute;
    width: 60%;
    top: 30%;
    z-index: 100;
}
#input-container {
    position: absolute;
    width: 70%;
    top: 40%;
    z-index: 100;
}
#input-img {
    width: 100%;
}
#input-box {
    position: absolute;
    width: 92%;
    height: 74%;
    margin: 2% 4%;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-align: center;
    z-index: 100;
}
.btn:hover {
    cursor: pointer;
}
#skip-btn {
    position: absolute;
    color: white;
    top: 2%;
    right: 2%;
    z-index: 100;
}
#btn1, #btn2, #btn3 {
    position: absolute;
    width: 43%;
    top: 80%;
    z-index: 100;
}
#btn4, #btn5 {
    position: absolute;
    width: 38%;
    bottom: 2%;
    z-index: 100;
}
#btn4 {
    left: 10%;
}
#btn5 {
    right: 10%
}
#question-container {
    position: absolute;
    width: 95%;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}
.question-container-layout1 {
    bottom: 5%;
}
.question-container-layout2 {
    top: 5%;
}
#question {
    color: white;
}
#op-btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.op-btn {
    width: 100%;
    border-radius: 12px;
    margin: 1% 0;
}
.hidden {
    display: none;
}